body {
    background-color: yellow;
    margin: 0;
    font-family: rubik;
    color: red;
  }
  .container {
    padding: 40px;
    margin: 0 auto;
  }
  
  .logo-poke {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    max-width: 70%;
    max-height: 60%;
    margin: 10%;
    
  }
  .boll{
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
  .boll-poke{
    max-width: 110px;
    max-height: 110px;

  }
  
  .filter-container {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    margin:5%;
    justify-content: center;
  }
  .filter-container-search{
    margin:5%;
    max-width: 70%;
    max-height: 60%;
  }
  
  .result-container-search{
    background:transparent;
    border-color: none;
    max-width: 20px;
    max-height: 30px;
  }
  .result-container::after{
    content: '🔍';
    position: relative;
    font-style: none;
  }
  .card {
    list-style: none;
    padding: 40px;
    background-color: red;
    color: #222;
    text-align: center;
  }
  .card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
  }
  .card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
  }
  .card-image {
    height: 180px;
  }
  #pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
  }
  .card:hover {
    animation: bounce 0.5s linear;
  }
  @keyframes bounce {
    20% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-2px);
    }
    80% {
      transform: translateY(-0px);
    }
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #f4f4f4;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
}

#closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: orangered;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 3px;
    transition: transform 100ms;
}

button:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0px 1px 2px darkred;
}